.textpage {
  background-color: #282c34;
  min-height: 100vh;
  padding: 0 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  line-height: 22px;
}

.textpage__stat {
  width: 100%;
  text-transform: uppercase;
  color: #ccc;
  font-size: 12px;
  line-height: 20px;
  border-bottom: 1px dotted #999;
  margin-bottom: 5px;
}

.textpage__stat-pill--emp {
  color: #61dafb;
  font-weight: 500;
}

.textpage__stat-pill::after{
    content: '|';
    padding: 0 10px;
}

.textpage__stat-pill:last-child::after {
  display: none;
}

.textpage__content {
  color: white;
  max-height: calc(100vh - 150px);
  overflow: auto;
}